<app-navigation></app-navigation>
<div class="container p-4">
    <h1>Productos</h1>
    <a routerLink="add" class="btn btn-warning active" role="button" aria-pressed="true">Nuevo</a>
    <i class="fas fa-camera"></i>
    <span class="fas fa-camera"></span>
    <div class="container"></div>
    <br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productsList">
                    <th>{{producto.id_producto}}</th>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>